// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/**
 * General and home
 */
 .post-link {
	line-height: 1; // Less distance between dates and titles for posts
}

.page-heading {
	text-align: center;
}

.page-content {
    /* Add a light gray background color */
    background-color: $page-background-color;
}
.archive li {
	margin-bottom: 10px;
}


// This causes a build error for gh pages but works fine locally, no idea why.
// .site-footer {
// 	box-shadow: 0 0 0.6em rgb(33 34 40 / 4%) inset;
// }

/* Some dividers */
.page-divider {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #ddd;
	height: 10px;
	}
	.one {
		position: relative;
		top: -9px;
		display: block;
		background: #ddd;
		width: 18px;
		height: 18px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
	}
	.two {
		position: relative;
		top: -26px;
		display: block;
		background: #fff;
		width: 16px;
		height: 16px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
	}

// Projects // 
.projects-container {
    .horizontal-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      list-style: none;
      padding: 0;
    }
  
    .card {
      position: relative;
      width: 350px;
      height: 250px;
      margin: 10px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.05);
      }
    }
  
    .card-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .card-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      opacity: 0;
      transition: opacity 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      &:hover {
        opacity: 1;
      }
    }
  
    .card-icon {
        width: 40px; // Adjust size as needed
        height: 40px; // Adjust size as needed
        margin-top: 10px;
        display: none; // Hide the icon initially
        border-style: none;
      }
    
      .card:hover .card-icon {
        display: block; // Show the icon on hover
      }
    
      .card-title {
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
      }
    
      .card-text {
        font-size: 1em;
        text-align: center;
      }
  }
  

/**
 * Navbar stuff
 */
	// Because I'm going my own way with padding. Takes out weird margins.
.site-nav {
	.page-link:not(:last-child) {
		margin-right: 0;
	}

	.page-link {
		color: $nav-color;
		padding: 0px 15px 0px 15px;
		font-weight: 450;
	}
}

.site-header {
	background-color: $nav-bg-colour;
	color: $nav-color;
	border-top: 0px;
	border-bottom: 0px;
	// font-size: 30px;
	padding-left: $nav-padding;
	padding-right: $nav-padding;
	
	img { 
		padding-right: $nav-padding;
	}
	
}

.site-title, .site-title:visited {
	color: $nav-color;
	font-size: 30px;
	font-weight: normal;

}

/* Posts
*/
.post-meta {
    padding-bottom: 10px;
}

/* Footnotes Stuff */
.footnotes:before {
    content: "Footnotes:";
    font-weight: 500;
    font-size: 25px;
    // border-top: 1px solid black; // testing
}

.footnotes {
    // font-size: 14px;
    margin: 30px 20px;

    p {
        margin: 10px;
        color: #515151;
        // font-weight: 400;

    }
}


/* Table of Contents */
#markdown-toc::before {
	content: "Contents";
    font-weight: bold;
    text-align: center;
}

#markdown-toc{
	border: 1px solid #3b3838;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}

#markdown-toc ul {
    margin: 0.2em 0; /* Adjust this value to control the spacing */
    list-style: decimal;
    // padding: 0;

}

// #markdown-toc {
//     border: 1px solid #aaa;
//     padding: 1.5em;
//     list-style: decimal;
//     display: inline-block;
// }

.reversefootnote {
	font-family:  sans-serif;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: $img-width;
    border: 1px solid #999;
}

// Actual content inside the post 
.post-content {
	h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
	%vertical-rhythm {
	margin: $spacing-unit 0;
    text-align: $custom-text-align;
	}

    h1, h2, h3, h4, h5, h6 { 
        letter-spacing: -1px;
        margin-top: $spacing-unit * 1.5;
    }
    // padding: 10px;
    // border: 2px solid purple;

    // Lists 
    ul, ol {
        padding-left: 20px
    }
}

blockquote {
    color: rgba(110, 75, 8, 0.616);
    border-left: 4px solid rgb(156, 91, 6);

}

.caption {
    color: #555;
    font-size: 14px;
    text-align: center;
}

p:has(> img:only-child) {
    margin-bottom: 0; /* This targets <p> elements that have only an <img> as a child */
}

// .post-content {
// }
// tangent test. omg you know chatgpt made this? That's fucking insane LOL.
// Actually, it doesn't do the wrapping of text well. Idk how to fix :flushed:
// tangent {
// 	position: relative;
// 	display: inline-block;
// 	cursor: help;
// 	color: $link-base-color;
//   }
  
//   tangent::before {
// 	content: attr(content);
// 	position: absolute;
// 	left: 100%;
// 	top: -0.75em;
// 	background: $code-background-color;
// 	color: #fff;
// 	padding: 0.25em 0.5em;
// 	border-radius: 0.25em;
// 	white-space: nowrap;
// 	z-index: 1;
// 	opacity: 0;
// 	transition: opacity 0.25s ease-in-out;
//   }
  
//   tangent:hover::before {
// 	opacity: 1;
//   }
  
/* Tooltips, 2nd answer from https://stackoverflow.com/questions/19129519/how-to-create-tooltip-without-javascript-using-only-inline-css/19129758 */
a.tooltip {
	outline: none;
}
a.tooltip strong {
	line-height:30px;
}
a.tooltip:hover {
	text-decoration: none;
}
a.tooltip span {
	z-index:10;
	display:none;
	padding:14px 20px;
	margin-top:-30px;
	margin-left:28px;
	width: 500px;
	line-height:25px;
}
a.tooltip:hover span {
	display:inline;
	position:absolute;
	color:#fff;
	border:1px solid #DCA;
	background:#555;
}
.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}
/*CSS3 extras*/
a.tooltip span {
	border-radius:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 5px 5px 8px #CCC;
	-webkit-box-shadow: 5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}

// gotta fix the white etext in the codeblock somehow
// .pre .code {
// 	background-color: none;
// }


// This is the way codeblocks look from contrast template
pre {
	background: reduce(12);
	border-radius: 2px;
	font-size: .8em;
	margin: 1.5em 0;
	padding: .8em 1.2em;
	overflow-x: auto;
  }
:not(pre) > code {
	font-size: .9em;
	background: reduce(15);
	opacity: .7;
	border-radius: 2px;
	margin: 0 .1em;
	padding: .2em .4em;
	background: rgba(144, 145, 148, 0.15);
  }

.highlight {
	pre {
	  background: rgba(lighten($dark, 6%), 0.9);
	  color: white;
	}
	.c {
	  color: #a29f90;
	}
	.err {
	  color: #960050;
	  background-color: #1e0010;
	}
	.k {
	  color: #66d9ef;
	}
	.l {
	  color: #ae81ff;
	}
	.n {
	  color: #f8f8f2;
	}
	.o {
	  color: #f92672;
	}
	.p {
	  color: #f8f8f2;
	}
	.cm,
	.cp,
	.c1,
	.cs {
	  color: #75715e;
	}
	.ge {
	  font-style: italic;
	}
	.gs {
	  font-weight: bold;
	}
	.kc,
	.kd {
	  color: #66d9ef;
	}
	.kn {
	  color: #f92672;
	}
	.kp,
	.kr,
	.kt {
	  color: #66d9ef;
	}
	.ld {
	  color: #e6db74;
	}
	.m {
	  color: #ae81ff;
	}
	.s {
	  color: #e6db74;
	}
	.na {
	  color: #a6e22e;
	}
	.nb {
	  color: #f8f8f2;
	}
	.nc {
	  color: #a6e22e;
	}
	.no {
	  color: #66d9ef;
	}
	.nd {
	  color: #a6e22e;
	}
	.ni {
	  color: #f8f8f2;
	}
	.ne,
	.nf {
	  color: #a6e22e;
	}
	.nl,
	.nn {
	  color: #f8f8f2;
	}
	.nx {
	  color: #a6e22e;
	}
	.py {
	  color: #f8f8f2;
	}
	.nt {
	  color: #f92672;
	}
	.nv {
	  color: #f8f8f2;
	}
	.ow {
	  color: #f92672;
	}
	.w {
	  color: #f8f8f2;
	}
	.mf,
	.mh,
	.mi,
	.mo {
	  color: #ae81ff;
	}
	.sb,
	.sc,
	.sd,
	.s2 {
	  color: #e6db74;
	}
	.se {
	  color: #ae81ff;
	}
	.sh,
	.si,
	.sx,
	.sr,
	.s1,
	.ss {
	  color: #e6db74;
	}
	.bp,
	.vc,
	.vg,
	.vi {
	  color: #f8f8f2;
	}
	.il {
	  color: #ae81ff;
	}
	.gu {
	  color: #75715e;
	}
	.gd {
	  color: #f92672;
	}
	.gi {
	  color: #a6e22e;
	}
  }