// Placeholder to allow overriding predefined variables smoothly.
// Some of these I've overrode, some vars are new.


// General
$spacing-unit: 20px;
$content-width: 850px; // default 800px
$code-background-color: rgba(47, 48, 57, 0.9);
$link-base-color: #68f;
$link-visited-color: #68f;


$base-font-size: 17px;
$text-color: #212228; //#313131; // general text
// $base-font-family: Helvetica, Arial, sans-serif;

// Nav
$nav-color: #8ed4a6; // usual is #999999 or just white.
$nav-padding: 15px; // for navbar. If you want the original minima navbar size back, comment in the wrapper in header.html.
$nav-bg-colour: #212228; // #333;
$dark: #212228 !default;

// Post
$post-spacing: 15px;
